<mtapp:setting
    id="ng_words_cols"
    label="<__trans phrase="Columns">">
<ul><li>
<input type="text" class="text full" id="ng_words_cols" name="ng_words_cols" value="<mt:var name="ng_words_cols" escape="html">" />
</li></ul>
</mtapp:setting>
<mtapp:setting
    id="filter_ng_words"
    label="<__trans phrase="NG Words">">
<ul><li>
<input type="text" class="text full" id="filter_ng_words" name="filter_ng_words" value="<mt:var name="filter_ng_words" escape="html">" />
</li></ul>
</mtapp:setting>
<mtapp:setting
    id="ng_words_error_msg"
    label="<__trans phrase="Error Message">">
<ul><li>
<input type="text" class="text full" id="ng_words_error_msg" name="ng_words_error_msg" value="<mt:var name="ng_words_error_msg" escape="html">" />
</li></ul>
</mtapp:setting>
